<h1>Pagina de informações</h1>
# <div class="full-width "> 
<div class="full-width "> 
    <p>Pagina de informacoes sobre Mim</p>
    <p>Moro em Salvador Bahia, realizo prestação de serviço para clientes de todo o Brasil. Busco sempre
            atender aos clientes da melhor maneira possivel, prestando um serviço de qualidade.</p> 
    <p> trabalho nas plataformas web e mobile, usando as tecnologias: 
        html, css, javascript, react, ruby on rails. </p>
</div>
