/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { padding-top: 60px; }
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }

.navbar {
      min-height: 38px;
      /* background: #f55e55 ; */
      background: #1cf0c6;
  }  

 .navbar a.brand { font-size: 18px; }
 
 .navbar a.brand:hover {
      color: red;
      background-color: transparent;
      text-decoration: none;
  }

footer {
  background-color: #ebebeb;
  padding: 30px 0;
}
  
.info{
  background-color: #474e5d;
  text-align: center;
  height: 40%;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #1cf0c6;
}

.full-width-bar {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}  

.full-width {
  position: relative; /* child absolute */
  margin: 0 -9999rem;
  /* add back section padding value */
  padding: .25rem 9999rem;
  background: #666;
  /* background: rgba(0, 0, 0,.5); */
  color: white;
  font-size: 1.125rem;
}

/*

.navbar-default, .navbar-brand, .navbar-nav > li > a{
        color:black !important;    
}

  
  .navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom{
   background: #00ffae78; 
   color: red;
}  
  
  */